<template>
  <div>
    <div v-if="currentQuestion != null">
      <GameQuestion
        v-show="!ended"
        v-on:selected-answer="answerHandler"
        v-bind:question="currentQuestion"
        v-bind:questionNumber="currentQuestionNumber"
      />
    </div>
    <div v-show="ended">
      <router-link
        type="button"
        :to="{
                    name: 'GameOver',
                    props: {},
                    params: {
                        userAnswers: userAnswers,
                        questions: questions,
                        settings: {
                            category: category,
                            difficulty: difficulty,
                            amount: amount
                        }
                    }
                }"
      >
        <v-btn>Results</v-btn>
      </router-link>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import GameQuestion from "./GameQuestion";

export default {
  name: "Gameplay",
  props: {
    category: Object,
    difficulty: String,
    amount: Number
  },
  components: {
    GameQuestion
  },
  data() {
    return {
      questions: [],
      currentQuestion: null,
      currentQuestionNumber: 1,
      ended: false,
      userAnswers: []
    };
  },
  methods: {
    generateApiCall() {
      let category = this.$props.category;
      let baseUrl = "https://opentdb.com/api.php?";
      baseUrl += `amount=${this.$props.amount}`;
      console.log(category);
      if (category.id >= 0) {
        baseUrl += `&category=${category.id}`;
      }
      if (
        this.$props.difficulty.toLowerCase() != "Any difficulty".toLowerCase()
      ) {
        baseUrl += `&difficulty=${this.$props.difficulty.toLowerCase()}`;
      }
      console.log(this.$props.difficulty);
      return baseUrl;
    },
    answerHandler: function(obj) {
      //console.log(obj);
      this.userAnswers.push(obj);
      this.currentQuestionNumber++; //  This is ugly, should've used index.
      if (this.currentQuestionNumber > this.questions.length) {
        //console.log("Game over?");
        this.ended = true;
        //console.log(this.ended);
        //console.log(JSON.stringify(this.userAnswers));
      } else {
        this.currentQuestion = this.questions[this.currentQuestionNumber - 1];
        ////console.log(this.currentQuestion);
      }
    }
  },
  created() {
    //console.log(this.$props.restartObj);
    //  Restarting with previous question set.
    if (!(this.$route.params.questions === undefined)) {
      this.questions = this.$route.params.questions;
      this.currentQuestion = this.questions[0];
      this.currentQuestionNumber = 1;
      return;
    }

    //  Get new questions
    axios
      .get(this.generateApiCall())
      .then(resp => {
        this.questions = resp.data.results;
        this.currentQuestion = this.questions[0];
      })
      .catch(error => {
        console.log(error);
      });
  },
  mounted() {}
};
</script>

<style></style>
