<template>
    <div>
        <v-card class="normal">
            <p>
                You got {{ correctAnswers * 10 }} out of
                {{ numberOfQuestions * 10 }} points.
            </p>
        </v-card>

        <router-link type="button" to="/">
            <v-btn class="normal">Go to menu</v-btn>
        </router-link>
        <router-link
            type="button"
            :to="{ name: 'GamePlay', params: { questions: questions } }"
        >
            <v-btn class="normal">Retry</v-btn></router-link
        >
        <router-link
            type="button"
            :to="{
                name: 'GamePlay',
                params: {
                    category: settings.category,
                    amount: settings.amount,
                    difficulty: settings.difficulty
                }
            }"
        >
            <v-btn class="normal">Restart</v-btn></router-link
        >
        <quiz-results v-bind:answerObjects="resultsObject"></quiz-results>
    </div>
</template>

<script>
import QuizResults from "./QuizResults.vue";
export default {
    name: "GameOver",
    props: {
        settings: Object
    },
    components: {
        QuizResults
    },
    data() {
        return {
            numberOfQuestions: 0,
            correctAnswers: 0,
            resultArray: null,
            questions: null,
            resultsObject: []
        };
    },
    mounted() {
        let score = 0;
        let results = this.$route.params.userAnswers;
        this.questions = this.$route.params.questions;
        //console.log(this.$props.settings);
        results.forEach(e => {
            //console.log(e.correct_answer + " vs " + e.selected_answer);
            if (e.correct_answer == e.selected_answer) {
                //  Jesus fucking christ
                score++;
            }
        });
        for (var i = 0; i < this.questions.length; i++) {
            let tmp = [this.questions[i], results[i]];
            this.resultsObject.push(tmp);
        }
        this.correctAnswers = score;
        this.numberOfQuestions = results.length;
        //this.resultsObject = {questions: this.questions, results: this.results};
    }
};
</script>

<style></style>
