<template>
    <v-app class="centered">
        <v-container v-show="gotCategories">
            <v-card>
                <form>
                    <v-select
                        class="normal"
                        v-model="picked"
                        :items="categories"
                        label="Category"
                        item-text="name"
                    >
                    </v-select>
                </form>

                <v-select
                    v-model="selectedDifficulty"
                    :items="difficulties"
                    label="Difficulty"
                >
                </v-select>

                <!-- <v-label for="numberGetter">Number of questions</v-label> -->
                <!--<v-input-number v-model="amount"></v-input-number>-->
                <v-text-field
                    v-model="amount"
                    hide-details
                    single-line
                    type="number"
                    min="10"
                    max="20"
                />
                <br />
                <v-card class="">
                    <router-link
                        type="button"
                        :to="{
                            name: 'GamePlay',
                            params: {
                                category: categories.find(function(e) {
                                    if (picked.name === undefined) {
                                        return e.name == picked;
                                    } else {
                                        return e.name == picked.name;
                                    }
                                }),
                                difficulty: selectedDifficulty,
                                amount: amount
                            }
                        }"
                    >
                        <v-btn class="normal">Start Game</v-btn></router-link
                    >
                </v-card>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
import axios from "axios";

export default {
    name: "GameMenu",
    components: {},
    data() {
        return {
            categories: [],
            difficulties: ["Easy", "Medium", "Hard"],
            selectedDifficulty: "Easy",
            amount: 10,
            gotCategories: false,
            picked: ""
        };
    },
    methods: {
        startHandler() {
            console.log(this.picked.id);
            console.log(this.selectedDifficulty);
            //  do some good shit
        },
        setSelected(event) {
            console.log(event);
        }
    },

    mounted() {
        axios
            .get("https://opentdb.com/api_category.php")
            .then(resp => {
                this.gotCategories = true;
                console.log(resp.data.trivia_categories);
                this.categories = resp.data.trivia_categories;
                let allCategories = {
                    name: "All Categories",
                    id: -1,
                    selected: ""
                };
                this.difficulties.push("Any Difficulty");
                this.selectedDifficulty = "Any Difficulty";
                this.categories.push(allCategories);
                this.picked = allCategories;
            })
            .catch(function(error) {
                this.gotCategories = true;
                console.log(error);
            });
    },
    watch: {
        picked: function() {
            console.log(this.picked);
        }
    }
};
</script>

<style>
.centered {
    width: 80%;
}
</style>
