<template>
  <v-card class="normal">
    <div class="questionContainer">
      <v-card class="deep-purple">
        <h2>
          Category:
          <br />
          {{ question.category }}
        </h2>
        <h2>Question: {{ questionNumber }}</h2>
      </v-card>
      <v-card class="red">
        <p v-html="question.question"></p>
      </v-card>
      <v-card>
        <v-card-text>
          <v-row>
            <v-col
              v-for="(answerOption, index) in randomizedAnswers"
              :key="index"
              xl="6"
              md="6"
              k="6"
              sm="12"
              x="12"
            >
              <v-card
                class="quiz-card elevation-3"
                v-html="answerOption"
                v-bind:value="answerOption"
                v-on:click="selectAnswer"
              >{{ answerOption }}</v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "GameQuestion",
  props: {
    question: Object,
    questionNumber: Number
  },
  data() {
    return {
      randomizedAnswers: []
    };
  },
  methods: {
    randomizeList: function(a, n) {
      let retArray = new Array(n);
      let randomIndex = Math.floor(Math.random() * n);
      //  just start at random index. Random enough, no?
      //  The order is fine, we just want the placement to be random
      for (var i = 0; i < n; i++) {
        let index = randomIndex + i;
        if (index >= n) {
          index -= n;
          //console.log(index);
        }
        retArray[i] = a[index];
      }
      return retArray;
    },
    generateRandom: function() {
      let tmp = [];
      tmp.push(this.question.correct_answer);
      this.question.incorrect_answers.forEach(q => {
        tmp.push(q);
      });
      //console.log("Length = " + tmp.length)
      this.randomizedAnswers = this.randomizeList(tmp, tmp.length);
    },
    selectAnswer: function(event) {
      //console.log(event.target.attributes["value"]);
      const emitObj = {
        selected_answer: event.target.textContent,
        correct_answer: this.question.correct_answer,
        answers: this.randomizedAnswers,
        type: this.question.type
      };
      this.$emit("selected-answer", emitObj);
    }
  },
  watch: {
    questionNumber: function() {
      if (this.question.type == "boolean") {
        this.randomizedAnswers = ["True", "False"];
      } else {
        this.generateRandom();
      }
    }
  },

  created() {},
  mounted() {
    if (this.question.type == "boolean") {
      //  handle this
    } else {
      this.generateRandom();
    }
  }
};
</script>

<style scoped>
.quiz-card {
  background-color: rgba(255, 253, 250, 0.712);
  color: black;
  text-align: center;
}
</style>
