<template>
    <div class="results" v-if="answerObjects != null">
        Results:
        <!-- <div class="answer" v-for="(answer, index) in randomizedAnswers" :key="index" v-bind:value="answer" v-on:click="selectAnswer" v-html="answer"> -->
        <v-card>
            <div
                class="answer"
                v-for="(question, index) in answerObjects"
                :key="index"
                v-bind:value="question"
            >
                <v-card-title>Question: {{ index + 1 }}</v-card-title>
                <div v-html="question.category"></div>
                <v-card-subtitle>
                    <h4>Category: {{ question[0].category }}</h4>
                    <h4>Difficulty: {{ question[0].difficulty }}</h4>
                    <p v-html="question[0].question"></p>
                </v-card-subtitle>
                <v-row>
                    <v-col
                        v-for="(answerOption, innerIndex) in question[1]
                            .answers"
                        :key="innerIndex"
                        xl="6"
                        md="6"
                        k="6"
                        sm="12"
                        x="12"
                    >
                        <v-card
                            :class="
                                'quiz-card elevation-3 ' +
                                    getStyle(
                                        answerOption,
                                        question[1].correct_answer,
                                        question[1].selected_answer
                                    )
                            "
                            v-html="answerOption"
                            v-bind:value="answerOption"
                        >
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-card>
    </div>
</template>

<script>
export default {
    Name: "QuizeResults",
    props: {
        answerObjects: Array
    },
    methods: {
        getStyle(answer, correct_answer, selected_answer) {
            //console.log(answer + correct_answer);
            if (answer == correct_answer) {
                return "correct";
            } else if (answer == selected_answer) {
                return "incorrect";
            }
            return "";
        }
    },
    data() {
        return {};
    },
    mounted() {
        console.log("Mounted");
        console.log(this.$props.answerObjects);
    },
    updated() {
        console.log("asd");
        console.log(this.$props.answerObjects);
    },
    watch: {
        answerObjects: function() {
            console.log("Hello answer object!");
            console.log(this.answerObjects[0]);
        }
    }
};
</script>

<style scoped>
.quiz-card {
    background-color: rgba(255, 253, 250, 0.712);
    color: black;
    text-align: center;
    height: 100%;
}
.correct {
    background-color: lightgreen;
    height: 100%;
}
.incorrect {
    background-color: lightcoral;
}
.results {
}
</style>
