<template>
    <v-app id="inspire">
        <v-app-bar app clipped-left>
            <v-toolbar-title>Quizboyos</v-toolbar-title>

            <router-link style="color: white;text-decoration:none" to="/">
                <v-toolbar-title style="margin-left: 1em">Home</v-toolbar-title>
            </router-link>
        </v-app-bar>

        <v-content>
            <v-container class="fill-height" justify-center fluid>
                <router-view></router-view>
            </v-container>
        </v-content>

        <v-footer app>
            <span>&copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script>
//import GameMenu from './components/GameMenu'

export default {
    name: "App",
    props: {
        source: String
    },
    components: {
        //GameMenu
    },
    data: () => ({
        drawer: null
    }),
    created() {
        this.$vuetify.theme.dark = true;
    }
};
</script>
